
extends partial/layout

<div id="hero">
  <div class="inner">
    <ul id="nav">
      <li><a href="/guide/" class="nav-link">鹏云开发集成指南</a></li>
      <li><a href="/api/" class="nav-link">后台开发规范</a></li>
    </ul>
    <div id="logo-wrap">
      <img id="logo" src="/images/logo.png">
    </div>
    <p class="desc">PengYun Documents - NSCCSZ</p>
    <p class="buttons">
      <a href="/get-started" class="button"></a>
    </p>
  </div>
</div>

